---
import Heading from "@/components/ui/Heading.astro"
---

<header
  aria-label="Introduction to Stephen"
  class="flex flex-col gap-4 items-center py-10"
>
  <Heading tagName="h1">My Projects</Heading>
  <p class="text-center md:w-4/5 lg:w-2/5">
    Here are some recent websites and apps you can explore for yourself!
  </p>
</header>
