@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  /* --font-display: 'Press Start 2P', system-ui; */
  --font-display: 'Fusion Pixel 12px Monospaced SC', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --color-cream: #fffce1;
  --color-charcoal: #0e100f;
}

body {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  color: #fffce1;
  background-color: #0e100f;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: grid;
  min-height: 0;
}

@media (min-width: 640px) {
  main {
    /* background-color: violet; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
  }
}

@media (min-width: 1024px) {
  main {
    /* border: 1px solid red; */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, auto);
  }
}
