---
import { Icon } from "astro-icon/components"
import { getCollection } from "astro:content"

import Heading from "@/components/ui/Heading.astro"
import Container from "@/layouts/Container.astro"

const features = await getCollection("features")
---

<Container>
  <section
    class="flex flex-col items-center py-10 gap-10"
    aria-label="Features Banner"
  >
    <Heading tagName="h2" classes="text-center"
      >I build fast, sleek, modern websites.</Heading
    >

    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        features.map(({ data }) => (
          <li class="flex flex-col gap-2 items-center">
            <Icon name={data.icon} class="size-20" />
            <Heading tagName="h3" classes="text-center text-balance">
              {data.title}
            </Heading>
            <p class="text-center text-balance">{data.description}</p>
          </li>
        ))
      }
    </ul>
  </section>
</Container>
