---
import ButtonLink from "@/components/ui/ButtonLink.astro"
import Heading from "@/components/ui/Heading.astro"
---

<section
  aria-label="Introduction to Stephen"
  class="grid gap-4 text-center py-10 bg-zinc-900"
>
  <!-- <Image
      src={"https://rzei8mczw5.ufs.sh/f/v9xa1lyXWM8uGeUHLnIsi8ZJcAXj1mhf6EtSI4kdGbxPuF0D"}
      alt="smile"
      width={192}
      height={192}
      class="text-white"
    /> -->
  <h2 class="text-4xl lg:text-5xl font-display tracking-wider text-pretty">
    Hi, I'm Kiiyuru
  </h2>
  <p class="text-center text-pretty mx-auto">
    A software developer turning pixels into immersive playgrounds
  </p>
  <div
    id="buttons-container"
    class="grid grid-cols-1 gap-4 justify-items-center h-fit"
  >
    <ButtonLink
      href={"https://rzei8mczw5.ufs.sh/f/v9xa1lyXWM8u0TfRFc8THD4wJjrLt8EZKUdFqRVOcPM3XyIz"}
      target={"_blank"}
    >
      View resume
    </ButtonLink>
    <ButtonLink
      href={"mailto:steveknganga@gmail.com"}
      target={"_blank"}
      variant="secondary">Reach out</ButtonLink
    >
  </div>
</section>

<style>
  p,
  h2 {
    max-width: 90%;
    margin: 0 auto;
  }
  @media (min-width: 640px) {
    section {
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
      grid-row: 1/4;
      grid-column: 1/2;
    }

    #buttons-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
    }
  }

  @media (min-width: 768px) {
    section {
      grid-column: 1/2;
      grid-row: 1/4;
    }
  }

  @media (min-width: 1024px) {
    section {
      grid-column: 1/3;
      grid-row: 1/4;
    }

    h2,
    p {
      grid-column: span 2;
    }
    #buttons-container {
      grid-column: span 2;
    }
  }
</style>
