---
import { Image } from "astro:assets"

import ButtonLink from "@/components/ui/ButtonLink.astro"
import Heading from "@/components/ui/Heading.astro"

import Container from "@/layouts/Container.astro"
---

<section
  aria-label="Introduction to Stephen"
  class="grid gap-4 text-center py-10 bg-zinc-900"
>
  <!-- <Image
      src={"https://rzei8mczw5.ufs.sh/f/v9xa1lyXWM8uGeUHLnIsi8ZJcAXj1mhf6EtSI4kdGbxPuF0D"}
      alt="smile"
      width={192}
      height={192}
      class="text-white"
    /> -->
  <Heading tagName="h2">Hi, I'm Kiiyuru</Heading>
  <p class="text-center text-balance m-auto">
    Some call me Steve and I'm a Software Engineer obsessed with immersive <strong
      >3D</strong
    > experiences.
  </p>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 justify-items-center">
    <ButtonLink
      href={"https://rzei8mczw5.ufs.sh/f/v9xa1lyXWM8u0TfRFc8THD4wJjrLt8EZKUdFqRVOcPM3XyIz"}
    >
      View resume
    </ButtonLink>
    <ButtonLink href={"#"} variant="secondary">Reach out</ButtonLink>
  </div>
</section>
