---
import { getCollection } from "astro:content"

import Heading from "@/components/ui/Heading.astro"
import ButtonLink from "@/components/ui/ButtonLink.astro"
import ProjectCard from "@/components/ui/ProjectCard.astro"
import Container from "@/layouts/Container.astro"

const projects = await getCollection("projects")
---

<section
  aria-label="Recent Projects"
  class="grid gap-y-14 text-center py-10 bg-zinc-900"
>
  <div class="grid gap-y-4 justify-items-center">
    <Heading tagName="h2">Don't take my word for it!</Heading>
    <p class="md:w-72 text-center text-balance">
      Take a look at some of my work.
    </p>
    <ButtonLink href="/projects">View more</ButtonLink>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-4">
    {projects.slice(0, 3).map(({ data }) => <ProjectCard data={data} />)}
  </div>
</section>
