---
import ButtonLink from '@/components/ui/ButtonLink.astro'
---

<section aria-label="Introduction to Stephen" class="bg-zinc-900">
  <h2 class="text-3xl lg:text-5xl font-display text-pretty">404!</h2>
  <p class="">
    Oops! The page you are looking for seems to have wandered off. Please try
    again or visit my home page for more information.
  </p>

  <ButtonLink href="/">Go Home</ButtonLink>
</section>

<style>
  h2,
  p {
    text-align: center;
  }

  section {
    display: grid;
    padding: 3rem 2rem;
    gap: 2rem;
    justify-items: center;
  }

  @media (min-width: 640px) {
    section {
      grid-column: span 2;
    }
  }

  @media (min-width: 1024px) {
    section {
      grid-column: 2/6;
    }
  }
</style>
