---
// components

// data
---

<footer class="py-4 text-center">
  <p class="text-balance text-zinc-500 text-sm">
    &copy; <span id="copyright">{new Date().getFullYear()}</span>
    Stephen Kiiyuru. All rights reserved.
  </p>
</footer>

<script>
  const copyrightSpan = document.querySelector('#copyright') as HTMLSpanElement
  copyrightSpan.textContent = new Date().getFullYear().toString()
</script>
