---
// components
import NavLink from "@/components/ui/NavLink.astro"

// data
import { socialData } from "@/data/siteData"
---

<footer class="py-10 container">
  <div class="flex justify-between items-center gap-2">
    <p class="text-balance">
      &copy; <span id="copyright">{new Date().getFullYear()}</span>
      Stephen Kiiyuru. All rights reserved.
    </p>

    <ul class="flex gap-4">
      {
        socialData.map((item) => (
          <NavLink
            href={item.href}
            title={item.title}
            icon={item.icon}
            classes="size-8"
          />
        ))
      }
    </ul>
  </div>
</footer>

<script>
  const copyrightSpan = document.querySelector("#copyright") as HTMLSpanElement
  copyrightSpan.textContent = new Date().getFullYear().toString()
</script>
