---
import Footer from '@/components/Footer.astro'
// Components
import Nav from '@/components/Nav.astro'
import BaseHead from './BaseHead.astro'

// CSS & Fonts
import '../styles/global.css'
import '@fontsource/press-start-2p'
import '@fontsource/ibm-plex-mono'
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body class="font-mono antialiased">
    <Nav />
    <main class="px-3 grid gap-3">
      <slot />
    </main>
    <Footer />
  </body>
</html>
