---
// components
import { extractSegmentURL } from '@/lib/extractSegmentURL'
import { Icon } from 'astro-icon/components'

type Props = {
  href: string
  icon?: string
  title: string
  classes?: string
  target?: string
}

const { href, icon, title, classes, target } = Astro.props
const segment = extractSegmentURL(Astro.url.pathname)

---

<li>
  <a
    class:list={[
      'text-zinc-500 hover:text-cream',
      'font-semibold lg:text-lg',
      (href === '/' && segment === '') || (href !== '/' && href.includes(segment)) ? 'text-cream' : '',
    ]}
    href={href}
    aria-label={icon && title}
    target={target}
  >
    {
      icon
? (
    <Icon
      class:list={['size-4 lg:size-7 ', classes]}
      name={icon}
      aria-hidden="true"
    />
  )
: (
  <span>
    {title}
  </span>
)
    }
  </a>
</li>
